<footer id="footer" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <div class="footer-logo">
                    <a class="logo" href="index.html"><img src="./img/logo.png"></a>
                </div>
            </div>

            <div class="col-md-11">
                <ul class="footer-nav">
                                            <li><a href="https://dreamland.rocks/mudjs">Играть</a></li>
                                            <li><a href="values.html">Ценности</a></li>
                                            <li><a href="maps.html">Карты</a></li>
                                            <li><a href="searcher.html">Вещи</a></li>
                                            <li><a href="news.html">Новости</a></li>
                                            <li><a href="stories.html">Легенды</a></li>
                                            <li><a href="gallery.html">Галерея</a></li>
                                            <li><a href="/help">Справка</a></li>
                                            <li><a href="links.html">Ссылки</a></li>
                                            <li><a href="index.html#contact">Контакт</a></li>
                </ul>
            </div>
        </div>

        <div id="bottom-footer" class="row">
            <div class="col-md-4 col-md-push-8">
            </div>

            <div class="col-md-12">
                <div class="footer-copyright">
                                            <span>Copyright 2021. All Rights Reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com">Colorlib</a></span><span> | Images by <a href="https://www.shutterstock.com/ru/g/unicornstail">Miyu Nur</a></span>
                </div>
            </div>
        </div>
    </div>
</footer>
