<header id="header" class="transparent-nav">
    <div class="container">
            <div class="navbar-header">
                    <div class="navbar-brand">
                            <a class="logo" href="index.html">
                                <img src="./img/logo-alt.png" alt="logo"/>
                            </a>
                    </div>

                    <button class="navbar-toggle navbar-inverse">
                            <span></span>
                    </button>
            </div>
            <nav id="nav">
                    <ul class="main-menu nav navbar-nav navbar-right">
                            <li><a href="https://dreamland.rocks/mudjs">Играть</a></li>
                            <li><a href="maps.html">Карты</a></li>
                            <li><a href="searcher.html">Вещи</a></li>
                            <li><a href="/help">Справка</a></li>
                            <li class="hidden-md hidden-sm"><a href="news.html">Новости</a></li>
                            <li class="hidden-md hidden-sm"><a href="stories.html">Легенды</a></li>
                            <li class="hidden-md hidden-sm"><a href="gallery.html">Галерея</a></li>
                            <li class="hidden-md hidden-sm"><a href="index.html#why-us">Разработка</a></li>
                    </ul>
            </nav>
    </div>
</header>
