<div class="hero-area section">
    <div class="bg-image bg-parallax overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <ul class="hero-area-tree">
                    <li><a href="index.html">Home</a></li>
                    <li><%= breadcrumb %></li>
                </ul>
                <h1 class="white-text"><%= title %></h1>
            </div>
        </div>
    </div>
</div>

