<div class="hero-area section">
    <div class="map-bg-image map-bg-parallax map-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <ul class="hero-area-tree">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/maps.html">Maps</a></li>
                </ul>
                <h1 class="white-text"><%= title %></h1>
            </div>
        </div>
    </div>
</div>

