<header class="header sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/help">Справка</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/help/char.html">Персонаж</a></li>
                <li class="nav-item"><a class="nav-link" href="/help/info.html">Информация</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Действия</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/help/move.html">Перемещение</a>
                        <a class="dropdown-item" href="/help/item.html">Предметы</a>
                        <a class="dropdown-item" href="/help/comm.html">Общение</a>
                        <a class="dropdown-item" href="/help/social.html">Социалы</a>
                        <a class="dropdown-item" href="/help/note.html">Переписка</a>
                        <a class="dropdown-item" href="/help/learn.html">Обучение</a>
                        <a class="dropdown-item" href="/help/fight.html">Битвы</a>
                        <a class="dropdown-item" href="/help/magic.html">Магия</a>
                        <a class="dropdown-item" href="/help/shop.html">Торговля и услуги</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/help/cmd.html">Все команды</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Навыки</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/help/skillgroup.html">По группам</a>
                        <a class="dropdown-item" href="/help/classskill.html">По классам</a>
                        <a class="dropdown-item" href="/help/clanskills.html">По кланам</a>
                        <a class="dropdown-item" href="/help/raceaptitude.html">Расовые</a>
                        <a class="dropdown-item" href="/help/cardskill.html">Карточные</a>
                        <a class="dropdown-item" href="/help/language.html">Древние языки</a>
                        <a class="dropdown-item" href="/help/craftskill.html">Крафт</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/help/genericskill.html">Все классовые</a>
                        <a class="dropdown-item" href="/help/clanskill.html">Все клановые</a>
                        <a class="dropdown-item" href="/help/skill.html">Все умения</a>
                        <a class="dropdown-item" href="/help/spell.html">Все заклинания</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="/help/race.html">Расы</a></li>
                <li class="nav-item"><a class="nav-link" href="/help/class.html">Классы</a></li>
                <li class="nav-item"><a class="nav-link" href="/help/craft.html">Крафт</a></li>
                <li class="nav-item"><a class="nav-link" href="/help/clan.html">Кланы</a></li>
                <li class="nav-item"><a class="nav-link" href="/help/religion.html">Религии</a></li>
                <li class="nav-item"><a class="nav-link" href="/help/quest.html">Квесты</a></li>
                <li class="nav-item"><a class="nav-link" href="/help/area.html">Зоны</a></li>
            </ul>
        </div>
    </nav>        
    <form class="search-box pr-1">
        <input id="topics" class="form-control form-control-sm mr-sm-2" type="search" placeholder="Перейти к статье..." aria-label="Поиск">
    </form>
        
</header>

