<html xmlns="http://www.w3.org/1999/html" lang="ru">
<head>
    <%- include('head'); %>
    <title>Справка DreamLand: умения всех классов</title>
</head>
<body>
    <div class="wrapper">
        <%- include('help-menu'); %>
        <div class="main">
                <div class="help_panel rounded"><span class="help_title">Умения всех классов</span><div class="help_article">
<ul>
<li><a href="warrior-skills.html">Все умения воина</a></li>
<li><a href="thief-skills.html">Все умения вора</a></li>
<li><a href="cleric-skills.html">Все умения клерика</a></li>
<li><a href="witch-skills.html">Все умения ведьмы</a></li>
<li><a href="warlock-skills.html">Все умения колдуна (варлока)</a></li>
<li><a href="ranger-skills.html">Все умения рейнджера</a></li>
<li><a href="samurai-skills.html">Все умения самурая</a></li>
<li><a href="ninja-skills.html">Все умения ниндзи</a></li>
<li><a href="paladin-skills.html">Все умения паладина</a></li>
<li><a href="anti-paladin-skills.html">Все умения анти-паладина</a></li>
<li><a href="necromancer-skills.html">Все умения некроманта</a></li>
<li><a href="vampire-skills.html">Все умения вампира</a></li>
<li><a href="druid-skills.html">Все умения друида</a></li>
</ul>
</div></div>
        
        </div>
        <%- include('footer'); %>
    </div>
    <%- include('foot'); %>
</body>
</html>
