<html xmlns="http://www.w3.org/1999/html" lang="ru">
<head>
    <%- include('head'); %>
    <title>Справка DreamLand: навыки всех классов</title>
</head>
<body>
    <div class="wrapper">
        <%- include('help-menu'); %>
        <div class="main">
                <div class="help_panel rounded"><span class="help_title">Навыки всех классов</span><div class="help_article">
<ul>
<li><a href="warrior-skills.html">Все навыки воина</a></li>
<li><a href="thief-skills.html">Все навыки вора</a></li>
<li><a href="cleric-skills.html">Все навыки клерика</a></li>
<li><a href="witch-skills.html">Все навыки ведьмы</a></li>
<li><a href="warlock-skills.html">Все навыки колдуна (варлока)</a></li>
<li><a href="ranger-skills.html">Все навыки рейнджера</a></li>
<li><a href="samurai-skills.html">Все навыки самурая</a></li>
<li><a href="ninja-skills.html">Все навыки ниндзи</a></li>
<li><a href="paladin-skills.html">Все навыки паладина</a></li>
<li><a href="anti-paladin-skills.html">Все навыки анти-паладина</a></li>
<li><a href="necromancer-skills.html">Все навыки некроманта</a></li>
<li><a href="vampire-skills.html">Все навыки вампира</a></li>
</ul>
</div></div>
        
        </div>
        <%- include('footer'); %>
    </div>
    <%- include('foot'); %>
</body>
</html>
