<html xmlns="http://www.w3.org/1999/html" lang="ru">
<head>
    <%- include('head'); %>
    <title>Справка DreamLand: навыки всех кланов</title>
</head>
<body>
    <div class="wrapper">
        <%- include('help-menu'); %>
        <div class="main">
                <div class="help_panel rounded"><span class="help_title">Навыки всех кланов</span><div class="help_article">
<ul>
<li><a href="lion-skills.html">Навыки клана Львов (Lion)</a></li>
<li><a href="battlerager-skills.html">Навыки клана Ярости (Battlerager)</a></li>
<li><a href="knight-skills.html">Навыки клана Рыцарей (Knight)</a></li>
<li><a href="chaos-skills.html">Навыки клана Хаоса (Chaos)</a></li>
<li><a href="shalafi-skills.html">Навыки клана Шалафи (Shalafi)</a></li>
<li><a href="ruler-skills.html">Навыки клана Правителей (Ruler)</a></li>
<li><a href="invader-skills.html">Навыки клана Захватчиков (Invader)</a></li>
<li><a href="hunter-skills.html">Навыки клана Охотников (Hunter)</a></li>
</ul>
</div></div>
        </div>
        <%- include('footer'); %>
    </div>
    <%- include('foot'); %>
</body>
</html>
