
.room {
    color: #ffffff;
}

.file-label {
    margin-right: 2em;
}

.btn-ctrl {
    float: right;
    font-size: 1.5em;
    color: grey;
    border-color: grey;
}

.btn-ctrl:hover {
    background-color: lightgrey;
    border-color: lightgrey;
}    

pre {
   color: #d3d7cf;
   font-size: 1.3em;
   background-color: #2e3436;
   font-family: 'Roboto Mono', monospace;
}

