pre.for-panel { 
   padding: 0px; 
   background-color: inherit; 
   border: none; 
   border-radius: 0px; 
   white-space: pre-wrap;       /* css-3 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
   overflow-wrap: break-word;
-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;

 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for WebKit */
     word-break: break-word;	
}

.for-panel .panel-default {
  border-color: #2e3436;
  color: #d3d7cf;
  font-size: 1.3em;
  background-color: #2e3436;
  font-family: 'Roboto Mono', monospace; 
}

.for-panel .panel-default > .panel-body { 
  border-color: #2e3436;
   padding: 0px 15px 0px 15px;
}

.for-panel .panel-default > .panel-heading {
  border-color: #2e3436;
  color: cyan;
  background-color: #2e3436;
  font-family: 'Roboto Mono', monospace; 
}

span.news-date { float: left; }
span.news-subject { color: white; }
span.tag-x { color: white; }
span.tag-r { color: red; }
span.tag-y { color: yellow; }
span.tag-g { color: green; }
span.tag-b { color: blue; }
span.tag-c { color: cyan; }
span.tag-m { color: magenta; }

