<html xmlns="http://www.w3.org/1999/html" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <title>Справка DreamLand: <%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:400,600" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/css/terminal.css?4"></link>
    <link type="text/css" rel="stylesheet" href="/css/help.css?1"></link>
</head>
<body>
    <div class="wrapper">
        <header class="header sticky-top">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/help">Справка</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="#">Персонаж</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Мир</a></li>
                <li class="nav-item"><a class="nav-link" href="/help/race.html">Расы</a></li>
                <li class="nav-item"><a class="nav-link" href="/help/class.html">Классы</a></li>
                <li class="nav-item"><a class="nav-link" href="/help/clan.html">Кланы</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Команды</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/help/cmd.html">Все</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Предметы</a>
                        <a class="dropdown-item" href="#">Перемещение</a>
                        <a class="dropdown-item" href="#">Информация</a>
                        <a class="dropdown-item" href="#">Общение</a>
                        <a class="dropdown-item" href="#">Почта</a>
                        <a class="dropdown-item" href="#">Бой</a>
                        <a class="dropdown-item" href="#">Магия</a>
                        <a class="dropdown-item" href="#">Торговля</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/help/social.html">Социалы</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Навыки</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/help/skill.html">Умения</a>
                        <a class="dropdown-item" href="/help/spell.html">Заклинания</a>
                        <a class="dropdown-item" href="/help/">Крафт</a>
                        <a class="dropdown-item" href="/help/">Языки</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="/help/religion.html">Религии</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Квесты</a></li>
                </ul>
<!--
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Ключевое слово" aria-label="Поиск">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Искать</button>
                </form>
-->
            </div>
            </nav>        
                
        </header>
        <div class="main"><%- main %></div>
        <div class="aside aside-2"><%- aside2 %></div>
        <footer class="footer">DreamLand (c) 2019</footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
</body>
</html>
