<html xmlns="http://www.w3.org/1999/html" lang="ru">
<head>
    <%- include('head'); %>
    <title>Справка DreamLand</title>
</head>
<body>
    <div class="wrapper">
        <%- include('help-menu'); %>
        <div class="">
        <h2>Справка мира DreamLand</h2>
        <p>Здесь собраны все статьи справки DreamLand, сгруппированные по категориям. 
</p>

<h3>Как пользоваться этим разделом</h3>
<ul>
    <li>Начните набирать ключевые слова в строке поиска для быстрого перехода к статье.</li>
    <li>Перекрестные ссылки подсвечены <span class="fgbg">зеленым</span>.</li>
    <li>Для списка всех задокументированных команд см. пункт <a href="/help/cmd.html">Действия &gt; Все команды</a>.</li>
    <li>Для списка всех задокументированных умений, заклинаний и аффектов см. пункты <a href="/help/skill.html">Навыки &gt; Все умения</a> и <a href="/help/spell.html">Навыки &gt; Все заклинания</a>.</li>
</ul>

<h3>Как пользоваться справкой изнутри мира</h3>
<ul>
    <li>Воспользуйтесь командой <b>справка</b> (синонимы: <b>help</b>, <b>?</b>) для вывода сводной таблицы основных понятий.</li>
    <li>Команда <b>справка слово</b> выведет справку по данному понятию или же список совпадений, если их несколько.</li>
    <li>Те, кто пользуются <a href="/mudjs">веб-клиентом</a>, могут нажимать мышкой на <span class="fgbw" style="text-decoration:underline;">ссылки</span> внутри статей справки.</li>
    <li>Команда <b>команды</b> выведет список самых важных команд, <b>команды таблица</b> выведет полный список команд с пояснениями.</li>
    <li>Команда <b>команды sit</b> покажет все русские и английские синонимы команды sit.</li>
    <li>Для вывода всех доступных персонажу умений и заклинаний используйте команды <b>умения все</b>, <b>заклинания все</b>.</li>
    <li>Для вывода таблицы всех социалов служит команда <b>социалы</b>. Справка по каждому социалу покажет, как он выглядит в действии.</li>
</ul>
       </div>
        <%- include('footer'); %>
    </div>
    <%- include('foot'); %>
</body>
</html>
